* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: #2f3640;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  width: 80%;
}
